.editor-container {
    flex: 1; 
    width: 100%; 
    display: flex; 
    flex-direction: column;
}


.editor-container .tab-list {
    background-color: rgb(11, 102, 114);
    padding: 0;
    margin: 0;
}

.tab-list {
    width: 100%; 
    display:flex;
    overflow-x: auto;
}

.tab-list .tab {
    font-family: 'Roboto'; 
    color: rgb(7, 165, 186); 
    background-color: rgb(0, 188, 212);
    border-color: rgb(0, 188, 212);
    padding: 7px 5px;
    margin: 0 1px;
    cursor: pointer;
    
}

.tab-list .tab-active {
    color: white
}

.tab .tab-text {
    transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}


.close-tab {
    margin: 0px; 
    height: 10px;
    padding: 0;
    color: rgb(7, 165, 186);
}
.tab-active .close-tab, .close-tab:hover {
    color: white;
}

.editor-instructions {
    font-family: 'Indie Flower';
    font-size: 3em;
    margin: 40px auto;
}