.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.projects-container .grid-list {
    width: 500px;
    height: 450px;
    overflow-y: auto;
}

.empty-projects-message {
    font-family: 'Roboto';
    text-align: center;
    margin-top: 40px;
    color: 'gray';
}