.tree {
    margin-left: 5px; 
    margin-top: 10px;
}

.tree .node {
    margin-top: 1px; 
    padding: 2px 0 2px 1px; 
    border-radius: 4px; 
    cursor: pointer;
}

.node .node-text {
    padding: 9px 0 9px 8px;
}